#settings_screen {
  flex-direction: column;
  padding: 30px 20px;
  min-height: 100vh;
  align-items: center;
  background-color: #e0e1e2;
}

#settings_screen .button {
  width: 200px;
  margin-bottom: 20px;
  height: 38px;
  align-self: center;
}

#settings_screen .logout {
  margin-top: 50px;
}

.label span {
  color: "gray";
  line-height: 14px;
  margin-bottom: 10px;
  display: flex;
  font-size: 15px;
}

.settings_container {
  margin: 30px auto;
  width: 400px;
  max-width: 80vw;
}
