#login_screen {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #dedede;
}

#login_screen .button {
  margin: 20px 0;
  width: 200px;
}

.label span {
  color: "gray";
  line-height: 14px;
  margin-bottom: 10px;
  display: flex;
  font-size: 15px;
}

.login_container {
  margin: 30px;
  width: 400px;
  max-width: 80vw;
}
