#product_screen {
  flex-direction: column;
  padding: 30px 20px;
  min-height: 100vh;
  align-items: center;
  background-color: #dedede;
}

#product_screen .button {
  width: 200px;
  margin: 10px;
  margin-bottom: 30px;
  height: 38px;
  align-self: center;
}

#product_screen .container {
  margin: 20px auto;
}
#product_screen .bid_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.list_container {
  max-width: 800px;
  margin: 0 auto;
}

#product_screen .description,
#product_screen .extra {
  font-size: 16px;
  padding: 10px;
}
