#home_screen {
  flex-direction: column;
  padding: 30px 20px;
  min-height: 100vh;
  align-items: center;
  background-color: #e0e1e2;
}

#home_screen .pagination {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 0;
  clear: both;
}

#home_screen .item {
  padding: 20px;
  background-color: #e9e9e9;
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

#home_screen .button {
  margin: 20px 0;
  width: 150px;
}

#home_screen .container .button.settings {
  margin: 0;
  float: right;
}

#home_screen .container .button.notifications {
  margin: 0;
  float: left;
  position: relative;
}

#home_screen .container .button .notifications_dot {
  color: red;
  position: absolute;
  left: 40px;
}

#home_screen .pagination .button {
  margin: 0;
}

#home_screen .container {
  max-width: 800px;
  margin: 10px auto;
}

#home_screen .icon {
  margin-left: 10px;
}

#home_screen .container .button {
  margin: 20px 0 20px 10px;
  width: auto;
}

#home_screen .container .input {
  margin: 20px 20px 20px 0;
  width: auto;
}

@media only screen and (max-width: 600px) {
  #home_screen .container .input {
    margin: 0 20px;
    float: none;
  }
  #home_screen .container .button {
    margin: 20px 5px 0 5px;
    float: none;
  }
}
