#product_update {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #e0e1e2;
  padding: 30px;
}

#product_update .button {
  margin: 20px 0;
  width: 200px;
}

#product_update input {
  width: 40vw;
  min-width: 300px;
  margin: 0 auto;
}

.label span {
  color: "gray";
  line-height: 14px;
  margin-bottom: 10px;
  display: flex;
  font-size: 15px;
}

.container {
  margin-top: 20px;
}
